html {
    font-size: 20px;   
}
* {
    margin: 0;
}
.layout {
    display: grid;
    grid-template-rows: 80px minmax(220px,100%) 2fr 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
    display: grid;
    grid-template-columns: 1.5fr 4fr 1fr;
    background-color: #00413b;
    color: white;
}
.logo img {
    display: flex;
    width: 9rem;
    height: auto;
}
.logo img:hover {
    opacity: 0.8;
}
.header .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}
.header div {
    display: flex;
    align-items: center;
}
.header .sesion {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-right: 2rem;
    margin-left: 1rem;
}
.header a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}
.header a:hover {
    transform: scale(1.05);
    text-shadow: 0 2px 8px #000000;
}
.main img {
    width: 100vw;
    height: 100%;
    min-width: 600px;
    min-height: auto;
}
.main {
    display: grid;
    background-color: white;
    position: relative;
}
.main .products {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    border: none;
    border-radius: 0.6rem;
    margin-left: 1.4rem;
    margin-top: 5%;
}
.main .products:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 8px #000000;
}
.main div a {
    text-decoration: none;
    color: white;
}
.main div .newproducts {
    background-color: #002320;
    border-radius: 0.6rem;
    padding: 0.3rem;
}
.main .email {
    display: grid;
    position: absolute;
    margin-left: 1.4rem;
    margin-top: 14%;
}
.main .email p {
    background-color: #00120777;
    border-radius: 0.8rem;
    color: white;
    font-size: 0.7rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
}
.main .email input {
    margin-top: 0.4rem;
    border-radius: 0.4rem;
    padding: 0.2rem;
    width: 16rem;
    font-size: 1rem;
}
.main .email button {
    margin-left: 0.7rem;
    background-color: #023129;
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.main .email button:hover {
    background-color: #00413b;
    box-shadow: 0 2px 8px #000000;
}
.catalog {
    background-color: white;
}
.catalog .title1 {
    display: flex;
    justify-content: center;
    padding-top: 1.1rem;
    padding-bottom: 1.5rem;
}
.catalog .furniture {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 2rem;
    margin-left: 2.8rem;
    margin-right: 2.8rem;
}
.catalog .item {
    width: 60%;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #000000;
}
.catalog .item:hover {
    box-shadow: 4px 4px 8px #000000;
    transform: scale(1.05);
    cursor: pointer;
}
.footer .redes {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 2rem;
    gap: 1rem;
    padding: 1%;
    opacity: 0.8;
}
.footer .logos:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
.footer .pie {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content:space-around;
    background-color: white;
}
.footer .column h3 {
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    color: #00413b84;
    font-size: small;
    font-weight: bolder;
}
.footer .column li {
    list-style: none;
    padding: 0.3rem;
}
.footer .column a {
    text-decoration: none;
    color: #00413b84;
    font-size: small;
}
.footer .column a:hover {
    color: #00413bbd;
    font-weight: bolder;
}
.footer .rights {
    display: flex;
    flex-flow: column;
    border: #00413b19 solid 1px;
    border-radius: 1rem;
    color: #00413b52;
    font-size: small;
    margin-top: 2rem;
    padding: 0.5rem;
}