html {
    font-size: 20px;   
}
* {
    margin: 0;
}
.layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content minmax(1fr,max-content) 1.3fr 350px;
    grid-auto-flow:dense;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
    display: grid;
    grid-template-columns: 1.5fr 4fr 1fr;
    background-color: #00413b;
    color: white;
}
.logo img {
    display: flex;
    width: 9rem;
    height: auto;
}
.logo img:hover {
    opacity: 0.8;
}
.header .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}
.header div {
    display: flex;
    align-items: center;
}
.header .sesion {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-right: 2.5rem;
    margin-left: 1rem;
}
.header .sesion a {
    font-weight: bold;
}
.header a {
    text-decoration: none;
    color: white;
    font-size: 0.76rem;
}
.header a:hover {
    transform: scale(1.05);
    text-shadow: 0 2px 8px #000000;
}
.main img {
    width: 100%;
    height: 100%;
    /* min-width: 600px; */
    min-height: auto;
}
.main {
    display: grid;
    background-color: white;
    position: relative;
}
.main .products {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    border: none;
    border-radius: 0.6rem;
    margin-left: 1.4rem;
    margin-top: 8%;
}
.main .products:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 8px #000000;
}
.main div a {
    text-decoration: none;
    color: white;
}
.main div .newproducts {
    background-color: #002320;
    border-radius: 0.6rem;
    padding: 0.3rem;
}
.main .email {
    display: grid;
    position: absolute;
    margin-left: 1.4rem;
    margin-top: 14%;
}
.main .email p {
    background-color: #001207b9;
    border-radius: 0.8rem;
    color: white;
    font-size: 70%;
    padding: 0.7rem;
    padding-bottom: 1rem;
    width: 100%;
}
.main .email input {
    margin-top: 0.7rem;
    margin-left: 0.1rem;
    border-radius: 0.4rem;
    padding: 0.2rem;
    width: 75%;
    font-size: 1rem;
}
.main .email button {
    width: 17%;
    margin-left: 0.8rem;
    background-color: #023129;
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.main .email button:hover {
    background-color: #00413b;
    box-shadow: 0 2px 8px #000000;
}
.catalog {
    background-color: white;
}
.catalog .title1 {
    display: flex;
    justify-content: center;
    padding-top: 1.1rem;
    padding-bottom: 1.5rem;
}
.catalog .furniture {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
    /* margin-left: 2.8rem; */
    /* margin-right: 2.8rem; */
}
.catalog .product {
    position: relative;
}
.catalog .product img {
    width: fit-content;
    display: flex;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #000000;
}
.catalog .product img:hover {
    box-shadow: 4px 4px 8px #000000;
    transform: scale(1.05);
}
.description {
    position: absolute;
    bottom: -2%;
    left: 0;
    right: 0;
    background-color: rgba(32, 32, 32, 0.854);
    color: white;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    text-align: center;
    opacity: 0;
}
.description p {
    font-size: 0.7rem;
}
.description a {
    text-decoration: none;
    color: #00a277;
    font-size: 0.7rem;
}
.description a:hover {
    color: #1ed1a1;
    font-weight: bold;
    text-shadow: 0 2px 8px #000000;
}
.product:hover .description {
    opacity: 1;
    transform: scale(1.05);
}
.footer .redes {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 2rem;
    gap: 1rem;
    padding: 1%;
    opacity: 0.8;
}
.footer .logos:hover {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
}
.footer .pie {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    background-color: white;
}
.footer .column h3 {
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    color: #00413b84;
    font-size: small;
    font-weight: bolder;
}
.footer .column li {
    list-style: none;
    padding: 0.3rem;
}
.footer .column a {
    text-decoration: none;
    color: #00413b84;
    font-size: small;
}
.footer .column a:hover {
    color: #00413bbd;
    font-weight: bolder;
}
.footer .rights {
    display: flex;
    flex-flow: column;
    border: #00413b19 solid 1px;
    border-radius: 1rem;
    color: #00413b52;
    font-size: small;
    margin-top: 2rem;
    padding: 0.5rem;
}
@media screen and (min-width: 960px) {
    .header {
        min-height: 70px;
    }
    .main img {
        height: auto;
        min-height: fit-content;
    }
    .main .email {
        width: 50%;
        min-width: max-content;
        max-width: max-content;
        height: 25%;
        top: 1rem;
    }
    .main .email p {
        font-size: 80%;
        padding: 0.9rem;
    }
    .main .email input {
        width: 19rem;
        margin-top: 0.8rem;
    }
    .main .email button {
        width: 15%;
        margin-left: 4%;
    }
    .catalog .furniture {
        display: grid;
        grid-auto-flow: row;
    }
    .catalog .product img {
        width: 14rem;
    }
}
@media screen and (max-width: 960px) {
    .layout {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3rem min-content 1fr 18rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .logo img {
        display: flex;
        width: 100%;
    }    
    .header a {
        display: flex;
        flex-wrap: wrap;
        font-size: 60%;
    }    
    .main .newproducts {
        font-size: 0.8rem;
    }
    .main .email p {
        font-size: 0.65rem;
    }
    .main .email input {
        width: 70%;
        font-size: 0.75rem;
    }
    .main .email button {
        width: 4rem;
        margin-left: 1rem;
    }
    .catalog .furniture {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .catalog .product img {
        width: 15rem;
    }
}
@media screen and (max-width: 700px) {
    .catalog .furniture {
        display: flex;
        flex-direction: column;
    }   
}
@media screen and (max-width: 574px) {
    .footer .pie {
        display: grid;
        grid-template-columns: 5.8rem 6.3rem 6.3rem 6.2rem;
    }
}
@media screen and (max-width: 500px) {
    .layout {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 2.5rem min-content 1fr 18rem;
    } 
    .main .products {
        margin-top: 3%;
    }
    .main .products p {
        font-size: small;
    }
    .main .email {
        margin-top: 10%;
        height: min-content;
    }
    .main .email p {
        font-size: 0.6rem;
    }
    .main .email input {
        font-size: 0.7rem;
        margin-top: 0.4rem;
    };
}